body {
  background-color: rgb(0, 12, 26);
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.frame {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

img {
    display: block; 
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

details {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
}

summary {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    color: red;
    cursor: pointer;
}

hr {
    border: 1px solid #a6a6a6;
    margin: 20px 0;
}

a {
    font-size: 25px;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    color: #2185ff;
    line-height: 1.5;
}

.br {
  display: block;
  height: 29px;
  width: 100%;
}
