body {
  background-color: rgb(0, 12, 27);
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.frame {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    color: white;
    font-size: 25px;
}

a, h1, h2, h3 {
  margin: 0 0 0 0;
}

h1 {
    text-align: center;
	font-size: clamp(18px, 7vw, 50px);
	line-height: 1.2;
}

h1.big {
	font-size: clamp(22px, 8vw, 60px);
}

h2 {
	text-align: center;
    font-size: clamp(18px, 4vw, 35px);
}

h2.big {
	font-size: clamp(18px, 5vw, 35px);
}

a, h3 {
    font-size: clamp(15px, 3vw, 25px);
    font-weight: normal;
}

img,
video {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

img {
    width: 100%;
}

img.small { width: 80% }

video {
    width: 100%;
}

summary {
	margin: 0 0 0 0;
    font-size: clamp(18px, 4vw, 35px);
    font-weight: bold;
    color: red;
    cursor: pointer;
}

hr {
    border: 1px solid #525252;
    margin: clamp(30px, 7vw, 60px); 0;
}

a {
	text-align: center;
    color: #2185ff;
}

br {
  height: 30px;
  width: 100%;
}

.spacer-small {
  height: clamp(7px, 2vw, 17px);
  width: 100%;
}

.spacer {
  height: clamp(15px, 3.5vw, 25px);
  width: 100%;
}

.spacer-big {
  height: clamp(18px, 7vw, 50px);
  width: 100%;
}


